<p></p>
<div style="margin-left:50px"> 
  <table style="width: 100%; height:600px;" >
    <tr>
      <td class ="textalign"><h1>Send notifications: </h1></td>
      <td class ="textalign"><h1>Set notifications: </h1>  
      </td>
    </tr>
    <tr>
        <td>
            <div class="textalign" >
                Select Personnel:
            </div>
            <div class="textalign" >
                <mat-input-container>
                  <mat-select [(ngModel)]="selectedValue">
                    <mat-option value="showAnes1">Anes1,Test </mat-option>
                    <mat-option value="showAnes2">Anes2,Test </mat-option>
                    <mat-option value="showAnes3">Anes3,Test </mat-option>
                    <mat-option value="showAnes4">Anes4,Test </mat-option>
                    <mat-option value="showAnes5">Anes5,Test </mat-option>
                    <mat-option value="showAnes6">Anes6,Test </mat-option>
                    <mat-option value="showAnes7">Surg1,Test </mat-option>
                    <mat-option value="showAnes8">Surg2,Test </mat-option>
                    <mat-option value="showAnes9">Surg3,Test </mat-option>
                    <mat-option value="showAnes10">Surg4,Test </mat-option>
                    <mat-option value="showAnes11">Surg5,Test </mat-option>
                    <mat-option value="showAnes12">Surg5,Test </mat-option>
                    <mat-option value="showAnes13">CRNA1,Test </mat-option>
                    <mat-option value="showall">CRNA2,Test </mat-option>
                    <mat-option value="showAnes15">Res1,Test </mat-option>
                    <mat-option value="showAnes16">Res2,Test </mat-option>
                  </mat-select>
                </mat-input-container>
            </div>
            <td>
                <div class="textalign" >
                    Select Personnel:
                </div>
                <div class="textalign" >
                    <mat-input-container>
                      <mat-select [(ngModel)]="selectedValueAnes4">
                          <mat-option value="showAnes1">Anes1,Test </mat-option>
                          <mat-option value="showAnes2">Anes2,Test </mat-option>
                          <mat-option value="showAnes3">Anes3,Test </mat-option>
                          <mat-option value="showAnes4">Anes4,Test </mat-option>
                          <mat-option value="showAnes5">Anes5,Test </mat-option>
                          <mat-option value="showAnes6">Anes6,Test </mat-option>
                          <mat-option value="showAnes7">Surg1,Test </mat-option>
                          <mat-option value="showAnes8">Surg2,Test </mat-option>
                          <mat-option value="showAnes9">Surg3,Test </mat-option>
                          <mat-option value="showAnes10">Surg4,Test </mat-option>
                          <mat-option value="showAnes11">Surg5,Test </mat-option>
                          <mat-option value="showAnes12">Surg5,Test </mat-option>
                          <mat-option value="showAnes13">CRNA1,Test </mat-option>
                          <mat-option value="showAnes14">CRNA2,Test </mat-option>
                          <mat-option value="showAnes15">Res1,Test </mat-option>
                          <mat-option value="showAnes16">Res2,Test </mat-option>
                      </mat-select>
                    </mat-input-container>
                </div>
            </td>
      </tr>
      <tr>
          <td>
              <div class="textalign" >
                  Select Message:
              </div>
              <div class="textalign" >
                  <mat-input-container>
                    <mat-select [(ngModel)]="selectedreadyfi">
                        <mat-option value="showreadyfi">Ready for induction</mat-option>
                        <mat-option value="showreadyfe">Ready for Emergence</mat-option>
                        <mat-option value="showreadyfi">Ready for induction</mat-option>
                        <mat-option value="showreadyfp">Ready for Positioning</mat-option>
                        <mat-option value="showreadyfc">Closing</mat-option>
                        <mat-option value="showreadyfor">Leave OR </mat-option>
                        <mat-option value="showreadyftr">Turn over</mat-option>
                    </mat-select>
                  </mat-input-container>
              </div>
              <td>
                  <div class="textalign" >
                      Select Trigger:
                  </div>
                  <div class="textalign" >
                      <mat-input-container>
                        <mat-select [(ngModel)]="selectedValuetrigger">
                            <mat-option value="showtrigger">Emergence</mat-option>
                            <mat-option value="In room">In room</mat-option>
                            <mat-option value="Anesthesia Ready">Anesthesia Ready</mat-option>
                            <mat-option value="Procedure Start">Procedure Start</mat-option>
                            <mat-option value="Closing">Closing</mat-option>
                            <mat-option value="Leave OR">Leave OR</mat-option>
                            <mat-option value="Concurreny violation">Concurreny violation</mat-option>
                        </mat-select>
                      </mat-input-container>
                  </div>
              </td>
        </tr>
        <tr>
          <td>
              <div class="textalign" >
                <mat-form-field class="demo-full-width">
                  <textarea class="demo-textarea" matInput>Enter your message here </textarea>
                </mat-form-field>
              </div>
            </td>
            <td>
                <div class="textalign" >
                    <button mat-raised-button	class="mat-button">Confirm</button>
                </div>
              </td>
        </tr>
        <tr>
          
              <td>
                  <div class="textalign" >
                      <button mat-raised-button	class="mat-button">Send Message</button>
                  </div>
                </td>
                <td>
                    <div class="textalign" >
                        <mat-card class="demo-full-width demo-card">
                            <mat-card-title>Current set alerts</mat-card-title>
                            <mat-card-content>
                              <p class="cardcontent">Anes3, Test for In room.</p>
                              <p class="cardcontent">Surg3, Test for Closing .</p>
                            </mat-card-content>
                          </mat-card>
                    </div>
                  </td>
          </tr>
  </table>  
</div>