<div class="header" >
    <div class="container">
        <div class="section">
            <span class="logo">Prime care</span> 
            <div class="time">{{now}} {{timeDisplay}}</div> 
            <div class="space text2">{{globals.currentCounter}}</div>
        </div>  
        <div class="section">
                <div class="space text2">AIC: {{Header.aic}}</div>
                <div class="space text2">Nurse Manager: {{Header.nursemanger}}</div>
                <div class="space text2">PACU Manager: {{Header.pacumanager}}</div>
                <div class="text2 subsection">OR Utilization: {{Header.orutilization}}</div>
                <div class="space text2">PACU Utilization: {{Header.pacuutilization}}</div>
        </div>
        <div class="section">
        <mat-list class="app-class" >
            <div *ngIf="alert">
               <mat-list-item *ngFor="let item of alert"> {{item}} </mat-list-item> 
            </div>
        </mat-list>
        </div>
        <div class="section">
            <canvas id="myChart"></canvas>
        </div>
    </div>
   </div>