<div class="footer">
        <div class="row"> 
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/completed.png"  alt="" >
                    <span class="text2">Complete</span>
            </div>
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/notcompleted.png"  alt="" >
                    <span class="text2">Not completed</span>
            </div> 
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/inprogress.png"  alt="" >
                    <span class="text2">In progress</span>
            </div>
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/pending.png"  alt="" >
                    <span class="text2">Pending</span>
            </div>
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/notadmitted.png"  alt="" >
                    <span class="text2">Not admitted</span>
            </div>
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/Preopholding.png"  alt="" >
                    <span class="text2">Pre-op holding</span>
            </div> 
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/inor.png"  alt="" >
                    <span class="text2">In OR</span>
            </div>
            <div class="column">
                    <img class="img-valign"  src ="../../../assets/leftor.png"  alt="" >
                    <span class="text2">Left OR</span>
            </div>
        </div>
    </div>