<p></p>
<div style="margin-left:50px"> 
<table class="table1">
  <tr>
    <td class ="textalign">
      <div>
       <span class ="text1">OR01</span>  
      </div>
      <div>
          <span class="text2" >Total cases: 3</span>  
      </div>
      <div> <span class="text2">Tech: Tech1, Test</span>  </div>
    </td>
    <td class ="textalign gtext" >
        <div>
         <span class="text3">Urethroscopy</span>  
        </div>
        <div>
            <span class="text3">7:20 - 11:00</span>  
        </div>
        <div> <span class="text4">Surgeon: Sur1, Test</span>  </div>
        <div> <span class="text4">Anesthesiologist: Anes1, Test</span>  </div>
        <div> <span class="text4">CRNA: CRNA1, Test</span>  </div>
        <div> <span class="text4">Circ Nurse: Nurse1, Test</span>  </div>
      </td>
      <td class ="textalign" >
          <div>
           <span class="text3">Urethroscopy</span>  
          </div>
          <div>
              <span class="text3">12:10 - 14:40</span>  
          </div>
          <div> <span class="text4">Surgeon: Sur1, Test</span>  </div>
          <div> <span class="text4">Anesthesiologist: Anes1, Test</span>  </div>
          <div> <span class="text4">CRNA: CRNA1, Test</span>  </div>
          <div> <span class="text4">Circ Nurse: Nurse1, Test</span>  </div>
        </td>
        <td class ="textalign" >
            <div>
             <span class="text3">Laser Lithotripsy</span>  
            </div>
            <div>
                <span class="text3">15:00 - 18:05</span>  
            </div>
            <div> <span class="text4">Surgeon: Sur1, Test</span>  </div>
            <div> <span class="text4">Anesthesiologist: Anes1, Test</span>  </div>
            <div> <span class="text4">CRNA: CRNA1, Test</span>  </div>
            <div> <span class="text4">Circ Nurse: Nurse1, Test</span>  </div>
          </td>
    </tr>

    <tr >
        <td class ="textalign" >
            <div>
             <span class="text1">OR02</span>  
            </div>
            <div> 
                <span class="text2">Total cases: 3</span>  
            </div>
            <div> <span class="text2">Tech: Tech2, Test</span>  </div>
          </td>
         
          <td class ="textalign gtext1" >
              <div>
               <span class="text3">Microlaryngoscopy</span>  
              </div>
              <div>
                  <span class="text3">10:00 - 12:15</span>  
              </div>
              <div> <span class="text4">Surgeon: Sur2, Test</span>  </div>
              <div> <span class="text4">Anesthesiologist: Anes3, Test</span>  </div>
              <div> <span class="text4">Resident: Res1, Test</span>  </div>
              <div> <span class="text4">Circ Nurse: Nurse2, Test</span>  </div>
            </td>
            <td class ="textalign" >
                <div>
                 <span class="text3">Thyroplasty</span>  
                </div>
                <div>
                    <span class="text3">12:45 - 17:50</span>  
                </div>
                <div> <span class="text4">Surgeon: Sur2, Test</span>  </div>
                <div> <span class="text4">Anesthesiologist: Anes3, Test</span>  </div>
                <div> <span class="text4">Resident: Res1, Test</span>  </div>
                <div> <span class="text4">Circ Nurse: Nurse2, Test</span>  </div>
              </td>
              <td class ="textalign" >
        
                </td>
        </tr>

        <tr >
            <td class ="textalign" >
                <div>
                 <span class="text1">OR03</span>  
                </div>
                <div>
                    <span class="text2">Total cases: 3</span>  
                </div>
                <div> <span class="text2">Tech: Tech3, Test</span>  </div>
              </td>
              <td class ="textalign" >
                  <div>
                   <span class="text3">Total knee arthroplasty </span>  
                  </div>
                  <div>
                      <span class="text3">10:30 - 16:10</span>  
                  </div>
                  <div> <span class="text4">Surgeon: Sur3, Test</span>  </div>
                  <div> <span class="text4">Anesthesiologist: Anes4, Test</span>  </div>
                  <div> <span class="text4">CRNA: CRNA2, Test</span>  </div>
                  <div> <span class="text4">Circ Nurse: Nurse3, Test</span>  </div>
                </td>
                <td class ="textalign" >
                 
                  </td>
                  <td class ="textalign" >
                   
                    </td>
                              </tr>
            <tr >
                <td class ="textalign" >
                    <div>
                     <span class="text1">OR04</span>  
                    </div>
                    <div>
                        <span class="text2">Total cases: 3</span>  
                    </div>
                    <div> <span class="text2">Tech: Tech4, Test</span>  </div>
                  </td>
                  <td class ="textalign gtext" >
                      <div>
                       <span class="text3">Hysterectomy</span>  
                      </div>
                      <div>
                          <span class="text3">7:20 - 12:55</span>  
                      </div>
                      <div> <span class="text4">Surgeon: Sur4, Test</span>  </div>
                      <div> <span class="text4">Anesthesiologist: Anes4, Test</span>  </div>
                      <div> <span class="text4">Resident: Res2, Test</span>  </div>
                      <div> <span class="text4">Circ Nurse: Nurse4, Test</span>  </div>
                    </td>
                    <td class ="textalign" >
                        <div>
                         <span class="text3">Incision and Drainage </span>  
                        </div>
                        <div>
                            <span class="text3">13:20 - 16:3</span>  
                        </div>
                        <div> <span class="text4">Surgeon: Sur5, Test</span>  </div>
                        <div> <span class="text4">Anesthesiologist: Anes5, Test</span>  </div>
                        <div> <span class="text4">Resident: Res2, Test</span>  </div>
                        <div> <span class="text4">Circ Nurse: Nurse4, Test</span>  </div>
                      </td>    <td class ="textalign" >
                         
                        </td>
                </tr>

   
</table>
<p></p>
<div style="margin-left:200px; margin-right:200px"> 
<table>
  <tr>
    <td>
        <div class="textalign" >
            Personal Filter:
        </div>
        <td>
            <div class="textalign" >
                Concurrency: 
                </div>
        </td>
  </tr>
  <tr>
    <td>
      <div class="textalign" >
        <mat-input-container>
          <mat-select [(ngModel)]="selectedValue">
              <mat-option value="showall">Show All</mat-option>
              <mat-option value="showAnes1">Anes1,Test </mat-option>
              <mat-option value="showAnes2">Anes2,Test </mat-option>
              <mat-option value="showAnes3">Anes3,Test </mat-option>
              <mat-option value="showAnes4">Anes4,Test </mat-option>
              <mat-option value="showAnes5">Anes5,Test </mat-option>
              <mat-option value="showAnes6">Anes6,Test </mat-option>
              <mat-option value="showAnes7">Surg1,Test </mat-option>
              <mat-option value="showAnes8">Surg2,Test </mat-option>
              <mat-option value="showAnes9">Surg3,Test </mat-option>
              <mat-option value="showAnes10">Surg4,Test </mat-option>
              <mat-option value="showAnes11">Surg5,Test </mat-option>
              <mat-option value="showAnes12">Surg5,Test </mat-option>
              <mat-option value="showAnes13">CRNA1,Test </mat-option>
              <mat-option value="showAnes14">CRNA2,Test </mat-option>
              <mat-option value="showAnes15">Res1,Test </mat-option>
              <mat-option value="showAnes16">Res2,Test </mat-option>
          </mat-select>
        </mat-input-container>
    </div>
    </td>
    <td >
      <div class="textalign1">
          Anes4, Test = 2
          </div>
    </td>
  </tr>
   
</table>
</div>
</div>  
<app-personel-footer></app-personel-footer>