/* Structure */
  
.mat-table {
    display: table;
    height: 3000px;
    border: 1px solid pink;
  }
  
  
  .highlight{
  background: #42A948; /* green */
  }
  .mat-header-row {
  color:rgb(79, 129, 189);
  position: sticky;
  top: 20;
  background: rgb(79, 129, 189);
  }
  
  .header {
    flex: none;
    width: 99.5%;
    margin-left: 5px;
  }
  .headertext {
    font-family: Calibri;
    font-size: 18px;
    font-style: normal;
      font-variant: normal;
      font-weight: 500;
    line-height: 26.4px;
    color: white; 
  }
  .columntext {
    font-family: Calibri;
    font-size: 18px;
    color: black; 
  }
.mat-cell {
    width: 30px;
    border: 1px solid black;
}
table {
    width: 98%;
    border-collapse: collapse;
    border: 0px solid rgb(219, 238, 244);
  }
  
  table td {
    border: 0px solid rgb(219, 238, 244);
  }
  .cardcontent{
    font-family: Calibri;
    font-size: 15px; 
    color: rgb(49, 143, 156);

  }
  .text1 {
    font-weight: bold;
    font-family: Calibri;
    font-style: normal;
    font-size: 19px; 
  }
  .textalign {
   font-family: Calibri;
   text-align:center;
   vertical-align:middle;
  }
  .text2 {
    font-family: Calibri;
    font-style: normal;
    font-size: 17px; 
  }
  .text3 {
    font-weight: bold;
    font-family: Calibri;
    font-style: normal;
    font-size: 15px; 
  }
  .text4 {
    font-family: Calibri;
    font-style: normal;
    font-size: 15px; 
  }
  .gtext {
    background-color: rgb(219, 238, 244);}
  .gtext1 {
        background-color: rgb(235, 241, 222);}
        
    .md-select-value.md-select-placeholder {
        color: red !important;
        }

    .mat-select {
        display: inline-block;
        width: 100%;
        outline: solid;
        outline-color: rgb(46, 125, 150);
        height: 30px;
        text-align:center;
        font-family: Calibri;
        background-color: rgb(219, 238, 244);
        padding-top: 8px;  //makes the select's baseline align with neighboring text input
        margin-bottom: 14px //makes the text input below my select align with it's neighbor also
        }     
        .textalign1 {
            font-family: Calibri;
            text-align:center;
            background-color: rgb(219, 238, 244);
            margin: auto;   
            width: 150px;
            border: 2px solid rgb(46, 125, 150);
            padding-top: 20px;
            padding-right: 10px;
            padding-bottom: 20px;
            padding-left: 20px;

           }
           
.demo-basic {
    padding: 0;
  }
  .demo-basic .mat-card-content {
    padding: 16px;
  }
  .demo-full-width {
    width: 70%;
  }
  
  .demo-card {
    margin: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid rgb(127, 127, 127);
  
    mat-card-content {
      font-size: 16px;
    }
  }
  
  .demo-text-align-end {
    text-align: end;
  }
  
  .demo-textarea {
    font-family: Calibri;
    resize: none;
    border: 2px solid rgb(127, 127, 127);
    overflow: auto;
    padding: 20px;
    height: 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
  .mat-button {
    font-family: Calibri;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 188px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration:none;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(196, 189, 151);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
  }
 
.mat-card-title {
    font-family: Calibri;
    font-size: 27px;
    color:rgb(127, 127, 127);
}
::ng-deep .mat-input-underline {
    display: none;
}
::ng-deep .mat-select {
    font-size: 17px;
    color: rgb(49, 143, 156);
}
::ng-deep .mat-select-content{
  font-family: Calibri;
  background-color:  rgb(219, 238, 244);
  font-size: 17px;   
}

         
  