<div style="background-color: #ccc">
 
    <table style="width: 100%"  bottom="0px">
      <tr>
        <td> 
            <img class="img-valign"  src ="../../../assets/completed.png"  alt="" >
            <span class="text2">Complete</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/notcompleted.png"  alt="" >
            <span class="text2">Not completed</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/inprogress.png"  alt="" >
            <span class="text2">In progress</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/pending.png"  alt="" >
            <span class="text2">Pending</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/notadmitted.png"  alt="" >
            <span class="text2">Not admitted</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/Preopholding.png"  alt="" >
            <span class="text2">Pre-op holding</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/inor.png"  alt="" >
            <span class="text2">In OR</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/leftor.png"  alt="" >
            <span class="text2">Left OR</span>
        </td>
      </tr>
    </table>
 
</div>