<div class="footer">
 
    <table style="width: 40%"  bottom="0px">
      <tr>
        <td> 
            <img class="img-valign"  src ="../../../assets/notadmitted.png"  alt="" >
            <span class="text2">Ready for discharge</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/Preopholding.png"  alt="" >
            <span class="text2">Occupied</span>
        </td>
        <td> 
            <img class="img-valign"  src ="../../../assets/leftor.png"  alt="" >
            <span class="text2">Empty</span>
        </td>
      </tr>
    </table>
 
</div>