<div class="footer">
    <div class="row"> 
        <div class="column">
                <img class="img-valign"  src ="../../../assets/notadmitted.png"  alt="" >
                <span class="text2">Ready for discharge</span>
        </div>
        <div class="column">
                <img class="img-valign"  src ="../../../assets/Preopholding.png"  alt="" >
                <span class="text2">Occupied</span>
        </div> 
        <div class="column">
                <img class="img-valign"  src ="../../../assets/leftor.png"  alt="" >
                <span class="text2">Empty</span>
        </div>
    </div>
</div>