<div class="header" >
    <div class="container">
        <div class="section">
            <span class="logo">Prime care</span> 
            <div class="time">{{timeDisplay}}</div> 
        </div>  
        <div class="section">
                <div class="space text2">AIC: {{Header.aic}}</div>
                <div class="space text2">Nurse Manager: {{Header.nursemanger}}</div>
                <div class="space text2">PACU Manager: {{Header.pacumanager}}</div>
        </div>
        <div class="section">
        <mat-list>
                <mat-list-item> OR Utilization: {{Header.orutilization}}</mat-list-item>
                <mat-list-item> PACU Utilization: {{Header.pacuutilization}}</mat-list-item>
                <mat-list-item> PACU Utilization: {{globals.currentCounter}}</mat-list-item>
                <mat-list-item> OR Utilization: {{Header.orutilization}}</mat-list-item>
                <mat-list-item> PACU Utilization: {{Header.pacuutilization}}</mat-list-item>
                <mat-list-item> PACU Utilization: {{globals.currentCounter}}</mat-list-item>
               </mat-list>
        </div>
        <div class="section">
                <canvas
                    baseChart
                    [chartType]="'bar'"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="true"
                    [colors]="chartColors"
                    
                    (chartClick)="onChartClick($event)">
                </canvas>
        </div>
    </div>
   </div>