/* 
 * http://stackoverflow.com/questions/489340/how-do-i-vertically-align-text-next-to-an-image-with-css
 * Use margin-bottom
*/

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.text2 {
  font-size: 24px;
}
.footer {
  height: 50px;
  flex: none;
  position: fixed;
  z-index: 100;
  width: 99.5%;
  bottom: 0px;
  background-color: #ccc;
}