<div class="footer">
    <div class="row"> 
        <div class="column">
                <img class="img-valign"  src ="../../../assets/notadmitted1.png"  alt="" >
                <span class="text2">Not admitted</span>
        </div>
        <div class="column">
                <img class="img-valign"  src ="../../../assets/Preopholding.png"  alt="" >
                <span class="text2">Pre-op holding</span>
        </div> 
        <div class="column">
                <img class="img-valign"  src ="../../../assets/inor.png"  alt="" >
                <span class="text2">In OR</span>
        </div>
        <div class="column">
                <img class="img-valign"  src ="../../../assets/leftor.png"  alt="" >
                <span class="text2">Left OR</span>
        </div>
    </div>
</div>