<p></p>
<table style="width: 100%; table-layout: fixed">
    <tr>
        <td style="width: 80%">
                <div>
                        <div *ngIf="resource">
                            <div *ngFor="let operationBed of resource.OperationBeds" >
                                <svg width ="100%" height = "100" style="margin: 10px">
                                    <g (click)="clicked(operation.Patient)" *ngFor= "let operation of operationBed.Beds" >
                                        <rect attr.x="{{operation.RX}}%" y="0" rx="10" ry="10" width="19%" attr.height="100px" attr.fill="{{operation.Color}}" 
                                        style = "stroke:rgb(178, 180, 180)"/>
                                        <text attr.x="{{operation.RX + (15/2) }}%"  y="20%" dx= "30" alignment-baseline = "middle" font-weight="bold" font-size = "30px"  text-anchor = "middle">{{operation.Name}}</text>
                                        <text attr.x="{{operation.RX + (15/2) }}%"  y="50%" dx= "30" font-size = "20px"  text-anchor = "middle">{{operation.EstDischargeTime}}</text>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
        </td>
        <td>
        <p class="text3" align="center">PACU Current Occupancy</p>
        <div align="center"  *ngIf="resource">
                <svg width="300" height="150">
                    <g>
                        <rect attr.x="20%" width="300" height="150" y="0"  rx="10" ry="10" style="fill:rgb(185,205,225);stroke-width:3;" />
                        <text class="text1" x="50%" y="20%" alignment-baseline="middle" text-anchor="middle">Occupancy = {{resource.CurrentOccupancy}}</text>  
                        <text class="text1" x="50%" y="50%" alignment-baseline="middle" text-anchor="middle"># Beds occupied =  {{resource.BedOccupied}}</text>    
                        <text class="text1" x="50%" y="75%" alignment-baseline="middle" text-anchor="middle"># Empty beds =  {{resource.BedEmpty}}</text>  
        
                        </g>
                </svg>
            </div>
        </td>z

</table>
<p style="padding: 10px;"></p>

<table class="text2" style="width: 100%; table-layout: fixed; font-size:25px; border: 10px "  >
  <tr>
        <td>
            <p class="text2" style= "margin-left: 400px;">PACU Throughput </p>
                <div>
                        <canvas  style= "margin-left: 150px;"
                           id="myChart1"></canvas>
                    
                </div>
        </td>
            <td>
               <p class="text2" style= "margin-left: 400px;">PACU Occupancy Forecast </p>
               <div>
                <canvas  style= "margin-left: 150px;" id="myChart2"></canvas>
            
        </div>
        </td>
        
  </tr>
</table>
<app-fc-footer></app-fc-footer>