<div *ngIf="Proc">

    <div width ="100%">
        <img class ="time" [src]= "" [style.left]="Proc.TimeRX + '%'"  width="5px" height="100%">
    </div>
    
  </div>


<div class ="display">
        <table *ngIf="Proc" class ="scale">     
                <tr>
                    <th *ngFor= "let num of Proc.TimeList">
                        {{num}}:00
                      </th>
                </tr>
            </table>
  <div *ngIf="Proc">  
  <div *ngFor="let operationRoom of Proc.OperationRooms" >
  <div class ="or-name"><span class ="name-span text4">{{operationRoom.Name}}</span></div>
  <div class="block">
  <svg width ="100%" height = "100">
  <g (click)="clicked(operation.Patient)" *ngFor= "let operation of operationRoom.Operations">
  <rect style="cursor: pointer;" attr.x="{{operation.RX}}%" y="0" rx="10" ry="10" attr.width="{{operation.Width}}%" attr.height="{{operation.Height}}" attr.fill="{{operation.Color}}" />
  <text class="text1 text3" attr.x="{{operation.RX + (operation.Width/2) }}%"  y="20%">{{operation.OpName}}</text>
  <text class="text1 text2" attr.x="{{operation.RX + (operation.Width/2) }}%"  y="50%" alignment-baseline="middle" font-weight="bold"  text-anchor="middle">{{operation.Status}}</text>
  <text class="text1" attr.x="{{operation.RX + (operation.Width/2) }}%"  y="80%" alignment-baseline="middle" font-weight="bold" text-anchor="middle">{{operation.TimeDisplay}}</text>
  <image *ngIf="operation.ImageName" attr.x="{{operation.RX + (operation.Width/12) }}%"  y="60%" width="35px" height="35px"  attr.xlink:href="../../../assets/{{operation.ImageName}}.png"></image>
</g>
  </svg>
  </div>
  <div class ="clearfix"></div>
  </div>
  </div>
  <app-proc-footer></app-proc-footer>
</div>